In [1]:
from database import Database

In [2]:
db=Database()

In [3]:
db.create_product_table()

table products already exists

False

In [4]:
db.add('Nescafe Coffee',180,5)

UNIQUE constraint failed: products.name

False

In [5]:
db.add("Uncle Chips",20,50)
db.add("Lays",20,100)
db.add("Hide and Seek",35,20)

UNIQUE constraint failed: products.name
UNIQUE constraint failed: products.name
UNIQUE constraint failed: products.name

False

In [9]:
db.add("Burbone",25,10)
db.add("Pepsi",45,15)
db.add("Coke",45,7)
db.add("Bhujiya",44,15)
db.add("cadbery",10,100)
db.add("Maggi",20,35)
db.add("Amul Milk",26,25)
db.add("Ghee",220,9)
db.add("Amul Cheese",100,6)
db.add("Sugar cube",155,6)
db.add("water bottle",20,30)

UNIQUE constraint failed: products.name
UNIQUE constraint failed: products.name
UNIQUE constraint failed: products.name
UNIQUE constraint failed: products.name
UNIQUE constraint failed: products.name
UNIQUE constraint failed: products.name
UNIQUE constraint failed: products.name
UNIQUE constraint failed: products.name
UNIQUE constraint failed: products.name
UNIQUE constraint failed: products.name
UNIQUE constraint failed: products.name

False

In [22]:
result=db.viewAll()

In [23]:
for record in result:
    print("\t".join([str(i) for i in record]))

1	Nescafe Coffee	180	5
2	Uncle Chips	50	2
3	Lays	20	100
4	Hide and Seek	35	20
5	Burbone	25	10
6	Pepsi	45	15
7	Coke	45	7
8	Bhujiya	44	15
10	Maggi	20	35
11	Amul Milk	26	25
12	Ghee	220	9
13	Amul Cheese	100	6
14	Sugar cube	155	6
15	water bottle	20	30

In [24]:
db.run("delete from products where id=9")

True

In [26]:
db.viewAll()

[(1, 'Nescafe Coffee', 180, 5),
 (2, 'Uncle Chips', 50, 2),
 (3, 'Lays', 20, 100),
 (4, 'Hide and Seek', 35, 20),
 (5, 'Burbone', 25, 10),
 (6, 'Pepsi', 45, 15),
 (7, 'Coke', 45, 7),
 (8, 'Bhujiya', 44, 15),
 (10, 'Maggi', 20, 35),
 (11, 'Amul Milk', 26, 25),
 (12, 'Ghee', 220, 9),
 (13, 'Amul Cheese', 100, 6),
 (14, 'Sugar cube', 155, 6),
 (15, 'water bottle', 20, 30)]